.page-enter-active,
.page-leave-active {
    transition-duration: 200ms;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.6, 0.15, 0.35, 0.8);
}

.page-enter,
.page-leave-to {
    opacity: 0;
}