<template>
  <div>
    <h1 class="title">Deine Job website</h1>
    <div class="hero">
      <img src="@/assets/img/undraw_agreement_aajr.svg" class="hero-img" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexHero',
}
</script>

<style lang="scss" scoped>
.title {
  @apply font-medium text-center mx-5 mt-9;
  color: #2d3748;
  letter-spacing: 1.26px;
  line-height: 50px;
  font-size: 42px;
}
.hero {
  position: relative;
  height: 500px;
  overflow: hidden;
}
.hero-img {
  position: absolute;
  left: -12px;
  max-width: 418px;
  height: 405px;
}
</style>
