<template>
  <nav class="navbar-bottom">
    <NuxtLink class="nav-btn" to="register" custom v-slot="{ navigate }">
      <button @click="navigate">Kostenlos Registrieren</button>
    </NuxtLink>
  </nav>
</template>

<script>
export default {
  name: 'NavBar',
}
</script>

<style lang="scss" scoped>
.navbar-bottom {
  @apply fixed bottom-0 z-10 w-full px-5 grid place-items-center bg-white rounded-t-xl;
  height: 85px;
  box-shadow: 0 -1px 3px 0 #00000033;
}

.nav-btn {
  @apply w-full h-10 rounded-xl text-center grid place-items-center font-semibold text-sm;
  color: #e6fffa;
  line-height: 17px;
  background: linear-gradient(95deg, #319795, #3182ce);
  letter-spacing: 0.84px;
  &:hover {
    cursor: pointer;
    background: linear-gradient(95deg, #2c7a7b, #2b6cb0);
  }
  &:disabled {
    color: #319795;
    background: linear-gradient(95deg, #b2f5ea, #bee3f8);
  }
  &:active,
  &:focus {
    color: #e6fffa;
    background: linear-gradient(95deg, #285e61, #2c5282);
  }
  &:focus {
    border: 2px solid #2b6cb0;
  }
}
</style>
