<template>
  <nav class="navbar nav-top-gradient-border">
    <NuxtLink class="nav-link" to="login">Login</NuxtLink>
  </nav>
</template>

<script>
export default {
  name: 'NavBar',
}
</script>

<style lang="scss" scoped>
.navbar {
  @apply fixed top-0 z-50 w-full px-4 flex justify-end items-center bg-white rounded-b-xl;
  height: 70px;
  box-shadow: 0 3px 6px 0 #00000029;
}

.nav-top-gradient-border {
  border-top-width: 5px;
  border-image: linear-gradient(91deg, #319795, #3182ce) 1;
}

.nav-link {
  @apply flex h-5 font-semibold text-sm;
  letter-spacing: 0.84px;
  line-height: 17px;
  color: #319795;
  &:hover {
    color: #38b2ac;
    border-bottom-width: 2px;
    border-color: #38b2ac;
  }
}
</style>
