<template>
  <div>
    <TabsHeader
      v-model="activeTab"
      :tabs="tabs"
      @show-tab-state="handleShowTabState"
    />
    <TabsBody
      :blocks="activeTabBlocks"
      :showTab="showTab"
      :tabsLen="tabsLength"
      v-model="activeTab"
    />
  </div>
</template>

<script>
export default {
  props: {
    tabs: {
      type: Array,
      required: true,
      default: [],
    },
  },
  data() {
    return {
      showTab: true,
      activeTab: 0,
    }
  },
  methods: {
    handleShowTabState(state) {
      this.showTab = state
    },
  },
  computed: {
    tabsLength() {
      return this.tabs.length
    },
    activeTabBlocks() {
      return this.tabs[this.activeTab].blocks
    },
  },
}
</script>
