<template>
  <client-only>
    <Flicking
      :options="{
        moveType: 'snap',
        bound: false,
        align: 'center',
        interruptable: false,
      }"
      ref="flicking"
    >
      <button
        v-for="(tab, index) in tabs"
        :key="'tab_select_' + index"
        class="tab-btn"
        :class="{
          'rounded-l-xl': index === 0,
          'rounded-r-xl': index === tabs.length - 1,
          'active-tab': activeTab === index,
        }"
        aria-current="page"
        @click="selectTabByIndex(index)"
      >
        {{ tab.title }}
      </button>
    </Flicking>
  </client-only>
</template>

<script>
import { FlickingError, ERROR_CODE } from '@egjs/flicking'

export default {
  props: {
    activeTab: {
      type: Number,
      default: 0,
    },
    tabs: {
      type: Array,
      default: [],
    },
  },
  model: {
    prop: 'activeTab',
    event: 'tab-selected',
  },
  methods: {
    async selectTabByIndex(index) {
      this.$emit('tab-selected', index)
    },
    async moveToTab(index) {
      this.$emit('show-tab-state', false)
      try {
        await this.$refs.flicking.moveTo(index)
      } catch (err) {
        if (err instanceof FlickingError) {
          if (err.code === ERROR_CODE.ANIMATION_ALREADY_PLAYING) {
            console.error('Animation is already playing!')
          } else if (err.code === ERROR_CODE.ANIMATION_INTERRUPTED) {
            console.error('Animation is interrupted by user.')
          }
        }
      }
      this.$emit('show-tab-state', true)
    },
  },
  watch: {
    activeTab: async function (newVal, oldVal) {
      if (newVal !== oldVal) {
        await this.moveToTab(newVal)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.tab-btn {
  @apply flex-1 whitespace-nowrap px-8 text-sm w-full bg-white;
  color: #319795;
  border: 1px solid #cbd5e0;
  line-height: 17px;
  letter-spacing: 0.84px;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
}
.active-tab {
  color: #e6fffa !important;
  border: 0 !important;
  background-color: #81e6d9;
}
</style>
