<template>
  <div v-touch:swipe.left="swipeToNextTab" v-touch:swipe.right="swipeToPrevTab">
    <transition name="fade" mode="out-in" appear :duration="500">
      <div class="tab__container" v-if="showTab">
        <div class="tab__title" v-html="blocks.title"></div>
        <div style="width: 320px; height: 264.94px" class="relative mt-4 -mb-8">
          <ShapeCircle
            class="absolute -bottom-2 -left-10"
            :diameter="208"
            :opacity="0.5"
          />

          <img
            :src="`/img/${blocks.block_1.img}`"
            class="absolute w-56 top-0 right-0"
          />
          <div class="absolute flex bottom-10 left-2">
            <span class="text-9xl mr-5">1.</span>
            <p class="self-end mb-3" style="line-height: 19px">
              {{ blocks.block_1.text }}
            </p>
          </div>
        </div>
        <div class="relative grid place-items-center mb-5">
          <div
            class="z-10 relative mt-10"
            style="width: 310px; height: 281.64px"
          >
            <div class="flex justify-end">
              <span class="text-9xl mr-5">2.</span>
              <p
                style="width: 182px; line-height: 19px; margin-bottom: 9px"
                class="self-end"
              >
                {{ blocks.block_2.text }}
              </p>
            </div>
            <div
              class="relative mx-auto"
              style="width: 258.7px; height: 179.2px"
            >
              <img
                :src="`/img/${blocks.block_2.img}`"
                class="absolute bottom-0"
              />
            </div>
          </div>
          <BgShape2 />
        </div>
        <div
          style="width: 299px; height: 326.79px"
          class="relative self-end mb-32"
        >
          <ShapeCircle class="absolute bottom-10 -left-32" :diameter="303" />
          <div class="flex">
            <span class="text-9xl mr-5">3.</span>
            <p
              style="width: 162px; line-height: 19px; margin-bottom: 9px"
              class="self-end"
            >
              {{ blocks.block_3.text }}
            </p>
          </div>

          <div class="relative mx-auto" style="width: 281px; height: 210.44px">
            <img
              :src="`/img/${blocks.block_3.img}`"
              class="absolute bottom-0"
            />
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    showTab: {
      type: Boolean,
      default: true,
    },
    activeTab: {
      type: Number,
      default: 0,
    },
    tabsLen: {
      type: Number,
      default: 0,
    },

    blocks: {
      type: Object,
      default: [
        {
          title: '',
          block_1: {
            img: '',
            text: '',
          },
          block_2: {
            img: '',
            text: '',
          },
          block_3: {
            img: '',
            text: '',
          },
        },
      ],
    },
  },
  model: {
    prop: 'activeTab',
    event: 'tab-changed',
  },
  methods: {
    swipeToNextTab() {
      if (this.activeTab < this.tabsLen - 1) {
        this.$emit('tab-changed', this.activeTab + 1)
      } else {
        this.$emit('tab-changed', this.tabsLen - 1)
      }
    },
    swipeToPrevTab() {
      if (this.activeTab > 0) {
        this.$emit('tab-changed', this.activeTab - 1)
      } else {
        this.$emit('tab-changed', 0)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.tab {
  &__container {
    @apply flex flex-col font-sans;
    color: #718096;
  }
  &__title {
    @apply font-medium text-xl text-center mt-8;
    line-height: 25px;
    color: #4a5568;
  }
}

.fade-enter-active,
.fade-leave-active {
  & > * {
    transition-duration: 200ms;
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.6, 0.15, 0.35, 0.8);
  }
}

$delay: 100ms;
$delayStep: 100ms;

.fade-enter,
.fade-leave-to {
  & > * {
    opacity: 0;
    transform: translateY(40px);
  }
}
.fade-enter-active {
  & > * {
    &:nth-child(2) {
      transition-delay: $delay;
    }
    &:nth-child(3) {
      transition-delay: $delay + $delayStep;
    }
  }
}
.fade-leave-active {
  & > * {
    &:nth-child(1) {
      transition-delay: $delay + $delayStep;
    }
    &:nth-child(2) {
      transition-delay: $delay;
    }
  }
}
</style>
