<template>
  <div class="custom-shape">
    <svg
      viewBox="0 0 359.889 658.238"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
    >
      <defs>
        <linearGradient
          gradientUnits="userSpaceOnUse"
          x1="228.419"
          y1="36.636"
          x2="228.419"
          y2="218.831"
          id="gradient-0"
          gradientTransform="matrix(0.695383, -0.573444, 1.097724, 0.875935, -115.616051, 612.323941)"
        >
          <stop offset="0" style="stop-color: rgb(235, 244, 255)" />
          <stop offset="1" style="stop-color: rgb(230, 255, 250)" />
        </linearGradient>
      </defs>
      <path
        style="fill: url(#gradient-0)"
        d="M 0 657.136 C 137.768 668.146 205.817 592.651 359.884 608.423 L 359.889 0.009 L 0 0 L 0 657.136 Z"
      />
    </svg>
  </div>
</template>

<script>
export default {
  name: 'BgShape1',
}
</script>

<style lang="scss" scoped>
.custom-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: -1;

  svg {
    position: relative;
    display: block;
    width: 100%;
    height: clamp(658px, 1.3px, 750px);
  }
}
</style>
