<template>
  <div class="custom-shape">
    <svg
      viewBox="302.203 79.07 361.169 366.279"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <defs>
        <linearGradient
          gradientUnits="userSpaceOnUse"
          x1="482.787"
          y1="79.07"
          x2="482.787"
          y2="445.349"
          id="gradient-2"
          gradientTransform="matrix(0.723968, -0.689832, 1.317638, 1.354967, -153.708283, 306.252688)"
        >
          <stop offset="0" style="stop-color: rgba(230, 255, 250, 1)" />
          <stop offset="1" style="stop-color: rgb(235, 244, 255)" />
        </linearGradient>
      </defs>
      <path
        style="stroke-width: 0px; paint-order: stroke; fill: url(#gradient-2)"
        d="M 302.326 79.07 C 385.465 81.975 394.187 111.046 464.535 110.465 C 534.883 109.884 599.419 76.163 663.372 88.372 L 663.372 400.581 C 663.372 400.581 593.024 429.07 541.279 429.652 C 489.534 430.234 443.023 409.884 302.326 445.349 C 302.326 445.349 302.049 157.175 302.326 79.07 Z"
      />
    </svg>
  </div>
</template>

<script>
export default {
  name: 'BgShape2',
}
</script>

<style lang="scss" scoped>
.custom-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: -1;

  svg {
    position: relative;
    display: block;
    width: 100%;
    height: 370px;
  }
}
</style>
