<template>
  <div class="circle-2" :style="cssVars"></div>
</template>

<script>
export default {
  name: 'ShapeCircle',
  props: {
    diameter: {
      required: true,
      default: 200,
    },
    opacity: {
      default: 1,
    },
  },
  computed: {
    cssVars() {
      return {
        width: `${this.diameter}px`,
        height: `${this.diameter}px`,
        opacity: this.opacity,
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.circle-2 {
  @apply rounded-full;
  background-color: #f7fafc;
  z-index: -1;
}
</style>
