<template>
  <div>
    <IndexHero />
    <BgShape1 />
    <Tabs :tabs="tabs" />
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  data() {
    return {
      tabs: [
        {
          title: 'Arbeitnehmer',
          blocks: {
            title: 'Drei einfache Schritte<br/> zu deinem neuen Job',
            block_1: {
              text: 'Erstellen dein Lebenslauf',
              img: 'undraw_Profile_data_re_v81r.svg',
            },
            block_2: {
              text: 'Erstellen dein Lebenslauf',
              img: 'undraw_task_31wc.svg',
            },
            block_3: {
              text: 'Mit nur einem Klick bewerben',
              img: 'undraw_personal_file_222m.svg',
            },
          },
        },
        {
          title: 'Arbeitgeber',
          blocks: {
            title: 'Drei einfache Schritte<br/> zu deinem neuen Mitarbeiter',
            block_1: {
              text: 'Erstellen dein Unternehmenprofil',
              img: 'undraw_Profile_data_re_v81r.svg',
            },
            block_2: {
              text: 'Erstellen ein Jobinserat',
              img: 'undraw_about_me_wa29.svg',
            },
            block_3: {
              text: 'Wähle deinen neuen Mitarbeiter aus',
              img: 'undraw_swipe_profiles1_i6mr.svg',
            },
          },
        },
        {
          title: 'Temporärbüro',
          blocks: {
            title:
              'Drei einfache Schritte zur<br/> Vermittlung neuer Mitarbeiter',
            block_1: {
              text: 'Erstellen dein Unternehmenprofil',
              img: 'undraw_Profile_data_re_v81r.svg',
            },
            block_2: {
              text: 'Erhalte Vermittlungs- angebot von Arbeitgeber',
              img: 'undraw_job_offers_kw5d.svg',
            },
            block_3: {
              text: 'Vermittlung nach Provision oder Stundenlohn',
              img: 'undraw_business_deal_cpi9.svg',
            },
          },
        },
      ],
    }
  },
}
</script>
