<template>
  <div class="w-full h-screen grid place-items-center">
    <div class="text-center">
      <p class="font-bold mb-2">Login Page</p>
      <NuxtLink to="/" class="underline">Go Back</NuxtLink>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss"></style>
